<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "C:\Users\admin\Documents\暑期项目\protocol\config.dtd">
<config>
  <connect>
    <to name="server">
      <connection type="socketclient">
        <ip>localhost</ip>
        <port>9000</port>
      </connection>
    </to>
  </connect>
  <probes>
    <path>testprobe1.xml</path>
  </probes>
</config>